html, body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: blue;
}

a {
  color: #00B7FF;
}


.RED, .red {
  background-color: red;
}

.GREEN, .green {
  background-color: green;
}
.WHITE {
  background-color: gray;
}

#overskrift {
  border: solid green 2px;
} 

#klokke {
  text-align:left;
}

 h1{
  background-color: red;
}
table {
  font-family: arial, sans-serif;
  border-collapse: solid;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

