<h1>Endpoints in the system</h1>

<p><a href="smartbulbs.html">smartbulbs.html</a> - plain HTML dummy</p>
<p><a href="smartbulb/">smartbulb/</a> - HTML list with all SmartBulbs</p>
<p></p><a href="smartbulb/json">smartbulb/json</a> - RESTful endpoint (GET, POST)</p>
<p></p><a href="createSmartBulb.html">createSmartBulb</a> - Create pærer</p>

